.square{
    height:20px;
    width:20px;
    border: 0.1px solid rgba(85, 85, 85, 0.253);;
}

.mainBoard{
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.food-item{
    background-color: red;
}

.snake-head{
    background-color: black;
}
.snake-tail{
    background-color: blue;
}